*{
	margin: 0;
	padding: 0;
}

body{
	background: url(bg-image.jpg) no-repeat center fixed;
}

.container1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.items1{
	height: 85px;
	width: 475px;
	border-radius: 7px;
	margin-top: 100px;
	margin-left: 525px;
	padding-top: 6px;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
}

.name{
	font-size: 60px;
	color: black;
	font-family: 'Poiret One';
}

.items2{
	height: 85px;
	width: 390px;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 600px;
	padding-top: 10px;
	padding-right: 10px;
	background: rgba(153, 235, 153, 0.4);
}

.details{
	font-size: 15px;
	color: rgb(0, 0, 0);
	font-family: 'Raleway';
	text-align: right;
}

.container2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.navbar{
	height: 80px;
	width: 900px;
	background: rgba(0, 0, 0, 0.2);
	margin-top: 150px;
	border-radius: 20px;
}

.navbar ul{
	overflow: auto;
}

.navbar li{
	float: left;
	padding-top: 25px;
	padding-left: 107px;
	list-style: none;
}

.navbar li a{
	font-family: 'Yomogi';
	text-decoration: none;
	font-size: 15px;
	color: rgb(145, 229, 229);
	border-radius: 15px;
}

.navbar li button{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	border: 1px solid rgb(145, 229, 229);
	padding: 2px 10px 5px 10px;
}

.navbar li button:hover{
	background-color: aquamarine;
	font-size: 15px;
	padding: 2px 10px 5px 10px;
}

.navbar li a:hover{
	color: black;
	font-weight: bold;
}

.container3{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

/* .items3{
	border: 2px solid red;
	height: 85px;
	width: 90px;
	padding: 10px 10px;
	margin-left: -800px;
	margin-top: 500px;
} */

.social{
	margin: 60px;
	text-align: center;
	font-size: 14px;
	color: rgb(223, 222, 159) ;
	font-family: 'Spartan';
	padding-right: 20px;
}

.social i{
	color:rgb(223, 222, 159) ;
	font-size: 28px;
	padding: 15px;
}

.social i:hover{
	color:rgba(153, 235, 153, 0.7);
}